<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统-图书介绍</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jquery-1.11.0.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="inc/top :: div"></div>
    <div th:replace="inc/left :: div"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="lay_body">
            <fieldset class="layui-elem-field">
                <legend>图书介绍</legend>
                    <table class="layui-table">
                        <tr>
                            <td th:width="150">
                                <div class="layui-field-box">
                                    <img th:width="180px" th:height="150px" th:src="@{'/image/'+${book.image}}">
                                </div>
                                <label class="layui-form-label">书名：<span style="font-weight:bold;font-size: 18px;" th:text="${book.name}"></span></label>
                            </td>
                            <td>
                                <ul>
                                    <li>作者：<span th:text="${book.author}"></span></li>
                                    <li>出版社：<span th:text="${book.press}"></span></li>
                                    <li>出版时间：<span th:text="${book.pressDate}"></span></li>
                                    <li>价格：<span th:text="${book.price}"></span></li>
                                </ul>
                            </td>

                        </tr>
                        <tr>
                            <td>简介</td>
                            <td>
                                <div th:text="${book.synopsis}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>描述</td>
                            <td>
                                <div th:text="${book.description}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">借阅</button>
                                <button id="colseBtn" type="button" class="layui-btn layui-btn-primary">关闭</button>
                            </td>
                        </tr>
                    </table>




            </fieldset>
        </div>
    </div>
    <div th:replace="inc/foot :: div"></div>

</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

</script>
<script type="text/javascript">
    $(function () {
        $('#menu a').each(function () {
            var aText = $(this).text();
            if ('图书管理' == aText) {
                $(this).parent('dd').addClass('layui-this');
            }
        });
        
        $('#colseBtn').on('click',function () {
            window.close();
        });
        
    });

    


</script>
</body>

</html>